@charset "UTF-8";
/* Переменные проекта */
/* Обнуление стилей */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.5;
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

/* Общие и технические классы */
._main-container {
  position: relative;
  overflow: hidden;
}

._container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  line-height: 140%;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 36px;
  line-height: 130%;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 560px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  line-height: 120%;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
}

@media (max-width: 560px) {
  h3 {
    font-size: 18px;
  }
}

/* Шапка проекта */
.page-header {
  background-color: #F4F9E2;
}

.header {
  padding: 27px 140px 75px 140px;
}

@media (max-width: 1024px) {
  .header {
    padding: 20px 70px 45px 70px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 30px 25px 30px;
  }
}

@media (max-width: 560px) {
  .header {
    padding: 10px 20px 30px 20px;
  }
}

.logo a {
  color: #62D0DF;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.logo a:hover {
  color: #22356F;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 560px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #22356F;
  font-weight: bold;
}

.navigation__list .navigation__item:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 560px) {
  .navigation__list {
    margin: 20px 0;
  }
}

@media (max-width: 560px) {
  .navigation__item {
    font-size: 22px;
  }
}

.navigation__link {
  display: inline-block;
  color: #22356F;
}

.navigation__link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #22356F;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.navigation__link:hover::after {
  width: 100%;
}

.navigation__contacs {
  display: block;
  padding: 20px 30px;
  background-color: #62D0DF;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.navigation__contacs:hover {
  background-color: #22356F;
}

@media (max-width: 1024px) {
  .navigation__contacs {
    padding: 10px 15px;
  }
}

.header__title {
  margin: 160px 0 0 0;
}

@media (max-width: 768px) {
  .header__title {
    margin: 80px 0 0 0;
  }
}

@media (max-width: 560px) {
  .header__title {
    margin: 40px 0 0 0;
  }
}

.title {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 560px) {
  .title {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 5fr 4fr;
        grid-template-rows: 5fr 4fr;
  }
}

@media (max-width: 560px) {
  .title__discription {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.title__logo {
  margin: 0 0 30px 0;
}

.title__photo {
  max-width: 450px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

.title__photo .title__photo-img {
  width: 100%;
}

@media (max-width: 560px) {
  .title__photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.title__name {
  color: #22356F;
  margin: 0 0 30px 0;
}

.title__specification {
  color: #22356F;
  font-size: 24px;
  margin: 0 0 30px 0;
}

@media (max-width: 1024px) {
  .title__specification {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .title__specification {
    font-size: 16px;
  }
}

.btn {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 30px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.btn:hover {
  background-color: #22356F;
}

.title__btn-1 {
  color: white;
  background-color: orange;
}

.title__btn-2 {
  color: orange;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.title__btn-2:hover {
  color: white;
}

/* Первая секция (Домашняя) */
.page-home {
  background-color: #62D0DF;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .home {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 560px) {
  .home {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 6fr 5fr;
        grid-template-rows: 6fr 5fr;
  }
}

.home__discription {
  padding: 100px 0 100px 100px;
  text-shadow: 1px 1px 3px rgba(49, 49, 49, 0.5);
}

@media (max-width: 1024px) {
  .home__discription {
    padding: 50px 0 50px 50px;
  }
}

@media (max-width: 768px) {
  .home__discription {
    padding: 25px 0 25px 25px;
  }
}

@media (max-width: 560px) {
  .home__discription {
    text-align: center;
    padding: 0;
    margin: 35px 0 0 0;
  }
}

.home__name {
  color: white;
  text-transform: none;
  margin: 0 0 50px 0;
}

@media (max-width: 1024px) {
  .home__name {
    margin: 0 0 15px 0;
  }
}

.home__specification {
  font-size: 22px;
  color: white;
}

@media (max-width: 1024px) {
  .home__specification {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .home__specification {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .home__specification {
    font-size: 22px;
  }
}

.home__photo {
  max-width: 525px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
  border-radius: 3%;
}

.home__photo .home__photo-img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.75s ease;
  transition: -webkit-transform 0.75s ease;
  transition: transform 0.75s ease;
  transition: transform 0.75s ease, -webkit-transform 0.75s ease;
}

.home__photo .home__photo-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 560px) {
  .home__photo {
    margin: 20px 0 0 0;
  }
}
